h1{
font-family: fantasy;
font-size: 42px;
text-align: center;
font-weight: bold;
}
mark{
  background-color: yellow;
}

#trackStudent div{
  margin: 2px;
  border: 1px solid blue;
  width: 20px;
  padding: 1px;
  text-align: center;
  display: inline-block;
}

.highlightStudent {
  background-color: purple;
    color: white;
}

#studentContainer div{
  padding: 30px;
  border-style: dashed;
}

#prev{
  margin: 20px;
}
